:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/
body {
    background: var(--preta);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif;
    color: white;
}

header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .container nav a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

header .container nav {
    margin-left: 5px;
}

header nav a:hover{
    color:#fff;
}

/*filme principal*/
.filme-principal {
    font-size:17px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/background-i-am-mother.jpg');
    
    height:500px;
    background-size:cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/*video em bacground
------------------------
.filme-principal .baner{
    width: 100%;
    height: 100wh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filme-principal .baner{
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
}
------------------------
*/
.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
    color: white
}

.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao-assistir{   
    background-color: rgb(250, 247, 247);
    border:none;
    border-radius: 7px;
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;

    padding: 15px 30px;
    margin-right: 0px 6px 6px 0px;
    font-size: 20px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao-mais-informacoes{   
    background-color: rgb(67, 81, 82);
    border:none;
    border-radius: 7px;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;

    padding: 15px 30px;
    margin-right: 0px 6px 6px 0px;
    font-size: 20px;

    cursor: pointer;
    transition: .4s ease all;
}

.botao-assistir:hover{
    background-color: grey;
    color:black;
}

.botao-mais-informacoes:hover{
    background-color: rgb(26, 23, 23);
    color:white;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container {
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}

.carrosel-filmes{
    margin-top:8px;
}